

.navbar {
    margin: 0.75rem;
}


.nav-items-1 {
    
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}

.nav-items-2 {
    
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}

.nav-items-3 {
    
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}