@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* background-color: #E2D0C8 */
/* font-color: #AE7F6B */
/* hightlight-font-color: #7E4E3A */

/* background-color-2 #FFF1EB*/


body, html {
    height: 100%;
    margin: 0;
    background-color: #f6f1ef;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    color: #AE7F68;
}


.nav-items-1 {
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}

.nav-items-2 {
    
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}

.nav-items-3 {
    
    border: 1px solid #AE7F68;
    color: #AE7F68;
    font-weight: 500;
    font-size: 1.4em;
}

.nav-items-1:hover , .nav-items-2:hover , .nav-items-3:hover {
    color: #7E4E3A;
    background-color: #FFFF;
}


.content-headline.container-fluid {
    padding-top: 15.75rem;
    padding-bottom: 15.75rem;
}

.content-aboutme {
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}
.content-workspaces {
    padding-bottom: 10rem;
}


.hightlight-text {
    color: #7E4E3A;
}

.img-aboutme {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 0.38rem;
}


